.navbar_logo {
  font-size: 2.8rem;
  font-weight: 700;
  color: #a08d8d;
}

.navbar_burger {
  display: flex;
}

.burger {
  font-size: 2.8rem;
  cursor: pointer;
  transition: var(--transition);
}

.burger:hover {
  color: var(--btn-color);
}

.navbar_links {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar_burger {
    display: none;
  }

  .navbar_links {
    display: flex;
    gap: 5rem;
  }

  .navbar_links li a {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    transition: var(--transition);
  }

  .navbar_links li :hover {
    color: var(--btn-color);
  }
}
